<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\Model\Cart">
    		<plugin disabled="false" 
                    name="Perspective_Theme16AddingSameProductToCart_Plugin_Magento_Checkout_Cart_BeforeAddToCartProduct"
                    type="Perspective\Theme16AddingSameProductToCart\Plugin\Magento\Checkout\Cart\BeforeAddToCartProduct"/>
	</type>
</config>