<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <perspective>
            <theme16pricereduction>
                <title>Theme16PriceReduction</title>
            </theme16pricereduction>
        </perspective>
    </default>
</config>